{% load static %}

<!--begin::Header-->
<div id="kt_header" class="header mt-0 mt-lg-0 pt-lg-0" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{lg: '300px'}">
<!--begin::Container-->
<div class="container d-flex flex-stack flex-wrap gap-4" id="kt_header_container">
<!--begin::Page title-->
<div class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-10 pb-lg-0" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
<!--begin::Heading-->
<h1 class="d-flex flex-column text-gray-900 fw-bold my-0 fs-1">{{ page_title|default:"Dashboard" }}</h1>
<!--end::Heading-->
{% if parent_title %}
<!--begin::Breadcrumb-->
<ul class="breadcrumb breadcrumb-dot fw-semibold fs-base my-1">
<li class="breadcrumb-item text-muted">
<a href="{% url 'dashboard' %}" class="text-muted text-hover-primary">Home</a>
</li>
<li class="breadcrumb-item text-muted">{{ parent_title }}</li>
<li class="breadcrumb-item text-gray-900">{{ page_title }}</li>
</ul>
<!--end::Breadcrumb-->
{% endif %}
</div>
<!--end::Page title=-->
<!--begin::Wrapper-->
<div class="d-flex d-lg-none align-items-center ms-n3 me-2">
<!--begin::Aside mobile toggle-->
<div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
<i class="ki-duotone ki-abstract-14 fs-1 mt-1">
<span class="path1"></span>
<span class="path2"></span>
</i>
</div>
<!--end::Aside mobile toggle-->
<!--begin::Logo-->
<a href="{% url 'dashboard' %}" class="d-flex align-items-center">
<img alt="Logo" src="{% static 'assets/media/logos/wisoft-dark-logo.png' %}" class="theme-light-show h-20px" />
<img alt="Logo" src="{% static 'assets/media/logos/wisoft-dark-logo.png' %}" class="theme-dark-show h-20px" />
</a>
<!--end::Logo-->
</div>
<!--end::Wrapper-->
<!--begin::Topbar-->
<div class="d-flex align-items-center flex-shrink-0 mb-0 mb-lg-0">
{% if action_url and action_label %}
<a href="{{ action_url }}" class="btn btn-sm btn-light">{{ action_label }}</a>
{% endif %}
</div>
<!--end::Topbar-->
</div>
<!--end::Container-->
</div>
<!--end::Header-->
